[submodule "vim-airline"]
	path = vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim-surround"]
	path = vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim-better-whitespace"]
	path = vim-better-whitespace
	url = git@github.com:ntpeters/vim-better-whitespace.git
[submodule "vim-dispatch"]
	path = vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule "vimux"]
	path = vimux
	url = git@github.com:benmills/vimux.git
